<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/public/js/home/login.js"></script>
    <title>LOGIN</title>
</head>
<body>
    <input type="text" placeholder="ID"><br>
    <input type="text" placeholder="PWD"><br>
    <button>로그인</button>
</body>
</html>